; 所有以“;”开头的行均为注释

;===================================

[login]
; 在此填入iaaa用户名与密码
user_name= xxxx
password= xxxx

;===================================

[type]
; 预约场地的类型
; 是唯一的名称，在智慧场馆预约界面里可以看到
; 例如：邱德拔羽毛球场是 羽毛球场，五四羽毛球馆是 羽毛球馆
venue= 羽毛球场

;===================================

[time]
; 例如
; start_time= 202111301000
; end_time= 202111301100
; 会预约包含从开始时间到结束时间的场地
; 需要注意 学校规定最多约2个时间段
start_time= 202111302200
end_time= 202111302300

;===================================

[wechat]
; 微信通知需要使用Server酱，请访问 https://sc.ftqq.com/
; True/False，1/0，yes/no
wechat_notice: False

; 方糖sckey
SCKEY = XXXX
